.App {
  text-align: center;
}

.calc-body {
  max-width: 400px;
  margin: auto;
}

.result {
  height: 60px;
  background-color: rgb(53, 27, 129);
  width: 100%;
}

.result p {
  font-size: 40px;
  color: #ffffff;
}

.buttons {
  display: block;
}

.buttons button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  color: #ffffff;
  background-color: rgb(0, 12, 39); 
}